<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logged in user</title>  
    </head>
    <body>
        <h1 class="mb-4">Welcome to User Authentication</h1>
        <p class="mb-2">Welcome {{request.user}}<br>
            This is the best website on this planet and you are very lucky to access it
        </p>
        <p>If you want to logout click the this link : <a href="/logout">Logout</a></p>   
    </body>
</html>